.booth{
	position: relative;
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}

.webcam-container {
	width: 360px;
	height: 360px;
	overflow: hidden;
	position: relative;
}

.webcam{
	width: 640px;
	margin-left: -140px;
}

.controls button{
	box-sizing: border-box;
	display: inline-block;
	font-size: 2em;
	padding: 1em;
	text-align: center;
	width: 100%;
}

.result img{
	max-width: 100%;
}


@-webkit-keyframes flash {
	0% {
		opacity:1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.flash {
	-webkit-animation-name: flash;
	-webkit-animation-duration: 300ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}
