<div class="booth">
	<div class="webcam-container">
		<video class="webcam" autoplay ng-src="{{booth.stream}}" ng-if="booth.stream"></video>
	</div>

	<div class="controls" ng-if="booth.stream">
		<button ng-click="booth.capture()" ng-disabled="booth.webcam.timer">
			<span ng-if="booth.webcam.timer">{{booth.webcam.timer}}</span>
			<span ng-if="!booth.webcam.timer">Capture</span>
		</button>
	</div>

	<div class="result" ng-if="booth.result">
		<img ng-src="{{booth.result}}" alt="">
		<button ng-click="booth.save()">Save</button>
	</div>
</div>
